<!-- Extending The Base Template -->
{% extends 'base.html' %} {% load static %}

{% load static %}

<!-- Block Content Starts Here -->
{% block content %}

<section
  class="hero-wrap hero-wrap-2 js-fullheight"
  style="background-image: url({% static 'images/bg_3.jpg' %})"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-end justify-content-start"
    >
      <div class="col-md-9 ftco-animate pb-5">
        <h1 class="mb-3 bread">Your Cart</h1>
      </div>
    </div>
  </div>
</section>

<!-- Cart Section Starts Here -->
<section class="py-5">
  <div class="container">
    {% if not cart_items %}
    <div class="alert alert-secondary" role="alert">
      Your Shopping Cart is Empty !
    </div>

    <div class="mx-auto text-center">
      <a href="{% url 'store' %}" class="btn btn-outline-primary">
        Continue Shopping
      </a>
    </div>
    {% else %}
    <div class="row">
      <aside class="col-lg-9">
        <div class="p-3 text-center table-responsive">
          <table class="table table-hover">
            <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col">Product</th>
                <th scope="col" width="40">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col" class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for cart_item in cart_items %}
              <tr>
                <td>
                  <figure class="itemside align-items-center">
                    <div class="aside">
                      <img
                        style="width: 100px"
                        class="rounded-circle"
                        src="{{ cart_item.product.images.url }}"
                        class="img-sm"
                      />
                    </div>
                    <figcaption class="text-center">
                      <a
                        href="{{ cart_item.product.get_url }}"
                        class="title text-decoration-none"
                        >{{ cart_item.product.product_name }}</a
                      >
                      <p class="text-muted small">
                        Matrix: 25 Mpx <br />
                        Brand: Canon
                      </p>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <!-- col.// -->
                  <div class="col">
                    <div>
                      <div>
                        <a
                          href="{% url 'remove_cart' cart_item.product_id %}"
                          class="btn btn-outline-danger"
                          type="button"
                          id="button-plus"
                        >
                          <i class="bi bi-dash"></i>
                        </a>
                      </div>
                      <input
                        type="text"
                        class="form-control fw-bold text-center m-2"
                        value="{{ cart_item.quantity }}"
                      />
                      <div class="input-group-append">
                        <a
                          href="{% url 'add_cart' cart_item.product.id %}"
                          class="btn btn-outline-success"
                          type="button"
                          id="button-minus"
                        >
                          <i class="bi bi-plus"></i>
                        </a>
                      </div>
                    </div>
                    <!-- input-group.// -->
                  </div>
                  <!-- col.// -->
                </td>
                <td>
                  <div class="price-wrap">
                    <div class="price">{{ cart_item.sub_total }} Rs /-</div>
                    <small class="text-muted">
                      {{ cart_item.product.price }} Rs /- Each
                    </small>
                  </div>
                  <!-- price-wrap .// -->
                </td>
                <td class="text-right">
                  <a
                    href="{% url 'remove_cart_item' cart_item.product.id %}"
                    class="btn btn-danger"
                    ><i class="bi bi-trash"></i
                  ></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <aside class="col-lg-3">
        <div class="card text-center">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-center">{{total}} Rs /-</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Tax:</dt>
              <dd class="text-center">{{ tax }} Rs /-</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-center text-danger b">
                <strong>{{ grand_total }} Rs /-</strong>
              </dd>
            </dl>
            <hr />
            <a href="{% url 'checkout' %}" class="btn btn-primary btn-block">
              Checkout
            </a>
            <a href="{% url 'store' %}" class="btn btn-light btn-block"
              >Continue Shopping</a
            >
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
    </div>
    {% endif %}
  </div>
</section>
<!-- Cart Section Ends Here -->

{% endblock content %}
<!-- Block Content Ends Here -->
