<!-- Extending The Base Template -->
{% extends 'base.html' %}

<!-- Content Block Starts -->
{% block content %}

<!-- Loading Static Files -->
{% load static %}

<div class="container">

    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
              <img src="{% static 'images/logo2.jpg' %}"
                class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
              
              <h3 class="mb-3">Reset Password</h3>
              <form method="POST" action="{% url 'resetpassword' %}">
                {% csrf_token %}
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form1Example23" class="form-control form-control-lg" name="password"/>
                  <label class="form-label" for="form1Example23">Password</label>
                </div>
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form1Example23" class="form-control form-control-lg" name="confirm_password"/>
                  <label class="form-label" for="form1Example23">Confirm Password</label>
                </div>
    
                
      
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">Confirm</button>
      
                
      
              </form>
            </div>
          </div>
        </div>
      </section>

</div>

{% endblock content %}
<!-- Content Block Ends -->
