<!-- Extending The Base Template -->
{% extends 'base.html' %}

<!-- Loading The Static Content -->
{% load static %}

<!-- Block Content Starts Here -->
{% block content %}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{% static 'images/5.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5">
          <h1 class="mb-3 bread">Choose Your Product</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="car-wrap border shadow-sm rounded ftco-animate">
                    <div class="img rounded d-flex align-items-end" style="background-image: url({{product.images.url}});">
                    </div>
                    <div class="text">
                        <h2 class="mb-0"><a href="car-single.html">{{product.product_name}}</a></h2>
                        <div class="d-flex mb-1">
                            <span class="text-success">{{product.category}}</span>
                            <p class="ml-auto text-danger">{{product.price}} <span> Rs /-</span></p>
                        </div>
                        <p class="text-center mx-auto"><a href="{{ product.get_url }}" class="btn btn-secondary">View More</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
</section>

{% endblock content %}
<!-- Block Content Ends Here -->